<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hziee.blog.dao.ArticleMapper">

  <resultMap id="BaseResultMap" type="cn.edu.hziee.blog.model.Article">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="author" jdbcType="INTEGER" property="author" />
    <result column="articleTitle" jdbcType="VARCHAR" property="articletitle" />
    <result column="publishDate" jdbcType="TIMESTAMP" property="publishdate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="articleContent" jdbcType="VARCHAR" property="articlecontent" />
    <result column="articleTags" jdbcType="VARCHAR" property="articletags" />
    <result column="articleType" jdbcType="VARCHAR" property="articletype" />
    <result column="articleCategories" jdbcType="VARCHAR" property="articlecategories" />
    <result column="articleAbstract" jdbcType="VARCHAR" property="articleabstract" />
    <result column="lastArticleId" jdbcType="INTEGER" property="lastarticleid" />
    <result column="nextArticleId" jdbcType="INTEGER" property="nextarticleid" />
    <result column="articleState" jdbcType="INTEGER" property="articlestate" />
    <result column="click" jdbcType="INTEGER" property="click" />
  </resultMap>

  <sql id="Base_Column_List">
    id, author, articleTitle, publishDate, updateDate, articleContent, articleTags, articleType, 
    articleCategories, articleAbstract, lastArticleId, nextArticleId, articleState, click
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from article
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectPrevArticle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    id, articleTitle
    from article where id&lt;#{id,jdbcType=INTEGER} and articleState=1 order by id desc limit 1
  </select>

  <select id="selectNextArticle" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    id, articleTitle
    from article where id&gt;#{id,jdbcType=INTEGER} and articleState=1 order by id asc limit 1
  </select>

  <select id="selectArticleListByArticleState" resultType="map">
		select
		articleState,
		count(*) as count
		from
		article
		group by articleState
	</select>

  <select id="selectArticleCountByArticleStateAndId" parameterType="java.lang.Integer" resultType="map">
		select
		articleState,
		count(*) as count
		from
		article
		where author = #{id, jdbcType=INTEGER}
		group by articleState
    </select>

  <select id="selectArticleListByArticleCategories" parameterType="String" resultMap="BaseResultMap">
		select
        <include refid="Base_Column_List" />
		from
		article
        where articleCategories = #{articleCategories,jdbcType=VARCHAR} and articleState = 1
  </select>

  <select id="selectArticleLastByCategories" parameterType="String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where articleCategories = #{articleCategories,jdbcType=VARCHAR}
    order by id DESC limit 1
  </select>

  <select id="selectArticleListByPage" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    <where>
      <if test="author!=null and author!=''">
        and author like CONCAT(CONCAT('%', #{author}), '%')
      </if>
      <if test="articleTitle!=null and articleTitle!=''">
        and articleTitle like CONCAT(CONCAT('%', #{articleTitle}), '%')
      </if>
      <if test="articleContent!=null and articleContent!=''">
        and articleContent like CONCAT(CONCAT('%', #{articleContent}), '%')
      </if>
      <if test="articleCategories!=null and articleCategories!=''">
        and articleCategories like CONCAT(CONCAT('%', #{articleCategories}), '%')
      </if>
      <if test="articleType!=null and articleType!=''">
        and articleType=#{articleType}
      </if>
      <if test="articleTags!=null and articleTags!=''">
        and articleTags=#{articleTags}
      </if>
      <if test="articleState!=null and articleState!=''">
        and articleState=#{articleState}
      </if>
    </where>
    ORDER BY publishDate DESC
  </select>

  <select id="selectArticleListByKeyAndCategories" parameterType="map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where articleCategories = #{articleCategories,jdbcType=VARCHAR}
        and id in (
          select
          id
          from article
          where author like CONCAT(CONCAT('%', #{key}), '%')
          or articleTitle like CONCAT(CONCAT('%', #{key}), '%')
          or articleContent like CONCAT(CONCAT('%', #{key}), '%')
          or articleType like CONCAT(CONCAT('%', #{key}), '%')
          or articleTags like CONCAT(CONCAT('%', #{key}), '%')
          or articleAbstract like CONCAT(CONCAT('%', #{key}), '%')
    )
    ORDER BY publishDate DESC

  </select>

  <select id="selectArticleCount" parameterType="Map" resultType="Long">
    SELECT COUNT(*) from article
    <where>
      <if test="keyword!=null and keyword!=''">
        and title like CONCAT(CONCAT('%', #{keyword}), '%')
      </if>
      <if test="type_id!=null and type_id!=''">
        and type_id=#{type_id}
      </if>
      <if test="articleState!=null and articleState!=''">
        and articleState=#{articleState}
      </if>
      <if test="isRecommend!=null and isRecommend!=''">
        and isRecommend=#{isRecommend}
      </if>
      <if test="addTime!=null and addTime!=''">
        and DATE_FORMAT(addTime,'%Y-%m-%d')=#{addTime}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from article
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.edu.hziee.blog.model.Article">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article (author, articleTitle, publishDate, 
      updateDate, articleContent, articleTags, 
      articleType, articleCategories, articleAbstract, 
      lastArticleId, nextArticleId, articleState, 
      click)
    values (#{author,jdbcType=VARCHAR}, #{articletitle,jdbcType=VARCHAR}, #{publishdate,jdbcType=TIMESTAMP}, 
      #{updatedate,jdbcType=TIMESTAMP}, #{articlecontent,jdbcType=VARCHAR}, #{articletags,jdbcType=VARCHAR}, 
      #{articletype,jdbcType=VARCHAR}, #{articlecategories,jdbcType=VARCHAR}, #{articleabstract,jdbcType=VARCHAR}, 
      #{lastarticleid,jdbcType=INTEGER}, #{nextarticleid,jdbcType=INTEGER}, #{articlestate,jdbcType=INTEGER}, 
      0
  </insert>

  <insert id="insertSelective" parameterType="cn.edu.hziee.blog.model.Article">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="author != null">
        author,
      </if>
      <if test="articletitle != null">
        articleTitle,
      </if>
      <if test="publishdate != null">
        publishDate,
      </if>
      <if test="updatedate != null">
        updateDate,
      </if>
      <if test="articlecontent != null">
        articleContent,
      </if>
      <if test="articletags != null">
        articleTags,
      </if>
      <if test="articletype != null">
        articleType,
      </if>
      <if test="articlecategories != null">
        articleCategories,
      </if>
      <if test="articleabstract != null">
        articleAbstract,
      </if>
      <if test="lastarticleid != null">
        lastArticleId,
      </if>
      <if test="nextarticleid != null">
        nextArticleId,
      </if>
      <if test="articlestate != null">
        articleState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="author != null">
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="articletitle != null">
        #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="articlecontent != null">
        #{articlecontent,jdbcType=VARCHAR},
      </if>
      <if test="articletags != null">
        #{articletags,jdbcType=VARCHAR},
      </if>
      <if test="articletype != null">
        #{articletype,jdbcType=VARCHAR},
      </if>
      <if test="articlecategories != null">
        #{articlecategories,jdbcType=VARCHAR},
      </if>
      <if test="articleabstract != null">
        #{articleabstract,jdbcType=VARCHAR},
      </if>
      <if test="lastarticleid != null">
        #{lastarticleid,jdbcType=INTEGER},
      </if>
      <if test="nextarticleid != null">
        #{nextarticleid,jdbcType=INTEGER},
      </if>
      <if test="articlestate != null">
        #{articlestate,jdbcType=INTEGER},
      </if>
<!--      <if test="click != null">-->
<!--        #{click,jdbcType=INTEGER},-->
<!--      </if>-->
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.hziee.blog.model.Article">
    update article
    <set>
      <if test="author != null">
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="articletitle != null">
        articleTitle = #{articletitle,jdbcType=VARCHAR},
      </if>
      <if test="publishdate != null">
        publishDate = #{publishdate,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedate != null">
        updateDate = #{updatedate,jdbcType=TIMESTAMP},
      </if>
      <if test="articlecontent != null">
        articleContent = #{articlecontent,jdbcType=VARCHAR},
      </if>
      <if test="articletags != null">
        articleTags = #{articletags,jdbcType=VARCHAR},
      </if>
      <if test="articletype != null">
        articleType = #{articletype,jdbcType=VARCHAR},
      </if>
      <if test="articlecategories != null">
        articleCategories = #{articlecategories,jdbcType=VARCHAR},
      </if>
      <if test="articleabstract != null">
        articleAbstract = #{articleabstract,jdbcType=VARCHAR},
      </if>
      <if test="lastarticleid != null">
        lastArticleId = #{lastarticleid,jdbcType=INTEGER},
      </if>
      <if test="nextarticleid != null">
        nextArticleId = #{nextarticleid,jdbcType=INTEGER},
      </if>
      <if test="articlestate != null">
        articleState = #{articlestate,jdbcType=INTEGER},
      </if>
      <if test="click != null">
        click = #{click,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="cn.edu.hziee.blog.model.Article">
    update article
    set author = #{author,jdbcType=VARCHAR},
      articleTitle = #{articletitle,jdbcType=VARCHAR},
      publishDate = #{publishdate,jdbcType=TIMESTAMP},
      updateDate = #{updatedate,jdbcType=TIMESTAMP},
      articleContent = #{articlecontent,jdbcType=VARCHAR},
      articleTags = #{articletags,jdbcType=VARCHAR},
      articleType = #{articletype,jdbcType=VARCHAR},
      articleCategories = #{articlecategories,jdbcType=VARCHAR},
      articleAbstract = #{articleabstract,jdbcType=VARCHAR},
      lastArticleId = #{lastarticleid,jdbcType=INTEGER},
      nextArticleId = #{nextarticleid,jdbcType=INTEGER},
      articleState = #{articlestate,jdbcType=INTEGER},
      click = #{click,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>